li.lovely {
  float:left;
  width: 16.66%;
  display: inline-block;
}

li.delicious {
  float: left;
  width: 16.66%;
  display: inline-block;
}

li.fine {
  float: left;
  width: 16.66%;
  display: inline-block;
}

li {
  background-color: gray;
  display: inline-block;
}
