#main-title {
  color: green;
}

nav.menu {
  background-color: pink;
  display: inline-block;

  span {
    width: 25%;
    display: inline-block;
  }

  h3 {
    text-decoration: none;
  }

  h5 {
    text-decoration: none;
  }

}

.panels ul {
  display: none;


}

.panels > ul.active {
display: inherit;
}
