#logo {
  color: cornflower blue;
}

nav .menu {
  background-color: cornflower blue;

  h3 {
    color: white;
  }

  ul.lovely {
    visibility: hidden;
  }

  ul.delicious {
    visibility: hidden;
  }

  ul.fine {
    visibility: hidden;
  }

}
